.itemPass{
    //background-color: black;
    background-color: transparent;
    text-align: center;
    opacity: 0.9;
    border-radius: 10px 0px 0px 10px !important;
  }

  .texto{
    text-align: center;
    color: #39B54A;
    font-family: 'Open Sans'; 
  }
  .boton_l{
    width: 40%;
    height: 35%;
    border-radius: 3px !important; 
    text-transform: none;
    color: white;
    background-color: #BD1952;
}
.accep{
  width: 54%;
  height: 35%;
  border-radius: 3px !important; 
  text-transform: none;
  color: white;
  background-color: #BD1952;
}
ion-content{
    //--ion-background-color:rgb(0, 0, 0);
    --ion-background-color: transparent;
}
.edit_profile{
  --ion-background-color:rgb(0, 0, 0);
}

.btn_face{
  width: auto; 
  height: 34px; 
  background-color: #4e71ba; 
  border-radius: 5px 5px 5px 5px !important;
}
.succs{
  color: greenyellow;
}
.password_update{
    /*border-bottom-style: solid;
    border-bottom-color: rgb(241, 234, 234);*/
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #39B54A;
}

input:focus + .slider {
  box-shadow: 0 0 1px #39B54A;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(14px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//Loader

.all{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 18%;
  background:transparent;
  position: fixed;
}
@media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 800px ) and (max-width: 1280px ) {
  .all{
    padding-top: 25%;     
  }
} 
@media only screen and (min-width: 768px ) and (max-width: 1024px ) {
  .all{
    padding-top: 29%;     
  }
} 

@media only screen and (min-width: 767px) and (max-width: 940px) {
  .all{
    padding-top: 40%;     
  }
} 
@media only screen and (min-width: 300px) and (max-width: 767px) {
  .all{
    padding-top: 78%;     
  }
}
@media only screen and (min-width: 200px) and (max-width: 259px) {
  .all{
    padding-top: 98%;     
  }
  .carg{
      width: 25%;
      margin: auto;
      text-align: center;
      font-size: 5px;
  }
}
.carg{
  width: 35%;
  margin: auto;
  text-align: center;
  font-size: 18px;
}
.cargando{
  border: 1.5px solid #CCC; 
  border-top: 2px;
  border-top-color: greenyellow;
  border-top-style: solid;
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  margin-bottom: 278px;
  animation:girar 1.0s linear infinite;
  -o-animation:girar 1.0s linear infinite;
  -webkit-animation:girar 1.0s linear infinite;
}
@keyframes girar{
from{ transform: rotate(0deg); }
to{ transform: rotate(360deg); }
}

.Reg{
  --background: url('/assets/Grupo 402@2x.png') no-repeat 100% 100%;
}
.regist{
  --background: url('/assets/Grupo_p402@2x.png') no-repeat 100% 100%;
}







//Imagen Inicio
.home_application{
  --background: url('/assets/Rectángulo 29@2x.png') no-repeat 100% 100%;
}
@media (max-width:823px) and (min-width:411px) {
    #Img_inic{
        margin-top: -47%;
        margin-bottom: 20%; 
    }
}
@media (max-width:736px) and (min-width:414px) {
    #Img_inic{
        margin-top: -47%;
        margin-bottom: 10%; 
    }
}
@media (max-width:414px) and (min-width:736px) {
    #Img_inic{
        margin-top: -97%;
    }
}
@media (max-width:731px) and (min-width:411px) {
    #Img_inic{
        margin-top: -7%;
        margin-bottom: 10%; 
    }
}
@media (min-width:411px) and (max-width:731px) {
    #Img_inic{
        margin-top: -37%;
        //margin-bottom: 10%; 
    }
}
@media (max-width:568px) and (min-width:320px) {
    #Img_inic{
        margin-bottom: 26%; 
    }
}
.Img_portada{
    width: 30%; 
    height: 18%; 
    margin-left: 13%;
}
.texto_bienvenida{
    width: 60%; 
    color: white; 
    font-size: 23px; 
    margin-left: 13%; 
    text-align: left; 
    padding-top: 2.5%; 
    padding-bottom: 10%; 
    font-weight: bold;
}
.btn_entrar{
    width: 60%; 
    margin-left: 15%; 
    --background: #BD1952;
}
.btn_registrar{
    width: 60%; 
    margin-left: 15%; 
    --background: lightslategrey;
}

//Imagen Accesso
.acceso_app{
    --background: url('/assets/Grupo 402@2x.png') no-repeat no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
  }
.fondo_registro{
    --background: url('/assets/Grupo_p402@2x.png') no-repeat 100% 100%;
}
.Img_Registro{
    width: 37%; 
    height: 20%; 
    margin-left: 33%;
}
.btn_facebook{
    width: 60%; 
    margin-left: 15%; 
    --background: #BD1952;
}
.btn_google{
    width: 60%; 
    margin-left: 15%; 
    --background: lightslategrey;
}

.reg{
  --ion-background-color: url('/assets/Grupo_p402@2x.png') no-repeat 100% 100%;
}
$white-color: none;
$height100: 100%;

.Log_grid {
    width:100%;
    height: $height100;
    //background: #dfdfdf;
    background: transparent;
}

.log_row {
    height: $height100;
}

.log_col {
    border: 1px solid #488aff;
   // background: $white-color;
    //text-align: center;
    color: white;
}

.log_btn {
    font-weight: 300;
}
.log_selec{
  color: black;
}
.Items{
  text-align: center;
  background-color: black;
}


@media (min-width: 240px) and (max-width: 768px) {
  .Log_grid {
        background: $white-color;
    }
    .log_col {
        border: none;
    }
}


.principal{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:transparent;
  position: fixed;
  border: 1px solid red;
 // z-index: 1;
}
#alerta{
  color: #000;
  text-align: center;
  // margin: 95vh auto;
  width:100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

#alerta a{
  border-radius: 5px;
  padding: 10px;
  font-size:20px;
  font-weight: bold; 

}
@media only screen and (min-width: 768px) and (max-width: 1024px){
  #alerta{
      margin-top: 20%;
  }
}
@media only screen and (min-width: 100px) and (max-width: 767px){
#alerta{
  margin-top: 20%;
}
}
