
<!--Edit profile-->
<ion-content *ngIf="editperfil" class="edit_profile" style="background-color: black;">
  <ion-col>
      <ion-label>
          <div class="ed_count" style="color: white; display: flex; padding-top: 5%; padding-bottom: 8.5%;">
             <p (click)="edit_count_user()" style="color: white; font-size: 30px; margin-left: 5%; margin-top: -0.6%;">{{edt_p}}</p><p style="font-size: 18px; margin-left: 2%;">Configuración de la cuenta</p> 
          </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <p style="color: white; font-size: 16.5px; margin-left: 6%; padding-bottom: 4%;">Editar perfil</p>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="name_inpt" style="display: flex;">
          <div class="nombre_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 23%;">
                  <img src="/assets/crear-nuevo-boton-de-lapiz.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Nombre</p>
        </div>
        <p style="color: white; text-align: right; width: 55%;">{{date_user.name}}</p><p (click)="edit_nombre()" style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="correo_inpt" style="display: flex;">
          <div class="correo_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 20%;">
                  <img src="/assets/sobre.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Correo</p>
                </div>
              <p style="color: white; text-align: right; width: 58%;">{{date_user.email}}</p><p style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="pass_inpt" style="display: flex;">
          <div class="password_update" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 35%;">
                  <img src="/assets/bloquear.svg" style="width: 17px; height: 17px;"/>
                  <p style="margin-left: 1.2%;">.</p>
                 <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Contraseña</p> 
                </div>
              <p style="color: white; text-align: right; width: 43%;">{{date_user.password}}</p><p (click)="edit_password()" style="color: white; font-size: 30px; margin-left: 10px;">></p>
        </div>
      </ion-label>
  </ion-col>
  <div class="bt" style="border-bottom: 2px solid white; margin-left: 7.5%; width: 85%; opacity: 0.2; margin-top: -5%; padding-bottom: 5%;">
  </div>
  <ion-col>
      <ion-label>
              <div class="icon_count" style="display: flex; margin-left: 7.5%; margin-bottom: .5%;">
                  <img src="/assets/usuario-hombre.svg" style="width: 17px; height: 17px;"/>
                  <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Cuentas vinculadas</p> 
              </div>
      </ion-label>
      <p *ngIf="vinc_cuentas" style="color: white; width: 43%; margin-left: 15.5%; font-size: 11.8px;">Tu cuenta de Facebook está vinculada a Radio y TV Mexiquense</p>
      <p *ngIf="vinc_cuentas" style="color: sandybrown; margin-left: 15.5%; font-size: 11.8px;" (click)="des_cuenta()">Desvincular</p>
      <p *ngIf="desv_cuentas" style="color: white; width: 43%; margin-left: 15.5%; font-size: 11.8px;"> Tu cuenta de Facebook no esta vinculada</p>
      <p *ngIf="desv_cuentas" style="color: sandybrown; margin-left: 15.5%; font-size: 11.8px;" (click)="vinc_cuenta()">Vincular</p>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="btn_notif" style="display: flex;">
          <div class="icon_notification" style="display: flex; margin-left: 7.5%; margin-bottom: 3.5%; width: 68%;">
              <img src="/assets/notificacion.svg" style="width: 17px; height: 17px;"/>
              <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Notificaciones PUSH</p>
            </div>
              <label class="switch">
                  <input type="checkbox" name="not" #not="ngModel" [(ngModel)]="date_user.pushActive" (change)="activar_notificacion()">
                  <span class="slider round"></span>
              </label>
            </div>
      </ion-label>
  </ion-col>
  <ion-col>
      <ion-label>
          <div class="icon_exit" (click)="close_application()" style="display: flex; margin-left: 7.5%; padding-top: 6%; margin-bottom: 3.5%;">
              <img src="/assets/boton-eliminar.svg" style="width: 17px; height: 17px;"/>
              <p style="color: white; font-size: 16.5px; margin-left: 3.4%;">Cerrar cuenta</p>
          </div>
      </ion-label>
  </ion-col>
</ion-content>


<!--Editar nombre Update-->
<ion-content *ngIf="editname" class="edit_profile" style="background-color: black;">
    <ion-col>
        <ion-label>
            <div class="ed_name" style="color: white; display: flex; padding-top: 5%; padding-bottom: 8.5%;">
                <p (click)="exit_name()" style="color: white; font-size: 30px; margin-left: 5%; margin-top: -0.6%;">{{edt_p}}</p><p style="font-size: 18px; margin-left: 2%;">Nombre</p> 
            </div>
        </ion-label>
        <p style="color: white; margin-left: 10%; font-size: 12px;">Nombre</p>
            <ion-input type={{type}} maxlength="100" name="nomupdat" #nomupdat="ngModel" [(ngModel)]="date_user.name" placeholder="Nombre completo" style="color: white; margin-left: 10%;">
            </ion-input>
    </ion-col>
    <div class="text" style="padding-top: 6%;">
        <button class="boton_l" (click)="save_name()" ion-button icon-start type="submit" style="margin-left: 30%; height: 40px !important; border-radius: 8px !important">GUARDAR</button>
    </div>
</ion-content>


<!--Editar password Update-->
<ion-content *ngIf="editcontrasenia" class="edit_profile" style="background-color: black;">
    <ion-col>
        <ion-label>
            <div class="ed_name" style="color: white; display: flex; padding-top: 5%; padding-bottom: 8.5%;">
                <p (click)="exit_password()" style="color: white; font-size: 30px; margin-left: 5%; margin-top: -0.6%;">{{edt_p}}</p><p style="font-size: 18px; margin-left: 2%;">Contraseña</p> 
            </div>
        </ion-label>
        <div class="pas_actual">
            <p style="color: white; margin-left: 10%; font-size: 12px;">Contraseña actual</p>
            <div class="cnt_act" style="display: flex;">
                <ion-input type={{type}} maxlength="100" name="passupdat" #passupdat="ngModel" [(ngModel)]="date_user.password" placeholder="Contraseña" style="color: white; margin-left: 10%;"></ion-input>
            </div>
        </div>
        <div class="pas_new">
            <p style="color:white; margin-left: 10%; font-size: 12px;">Nueva contraseña</p>
            <ion-input type={{type}} name="pasn" #pasn="ngModel" [(ngModel)]="password_uno" placeholder="Agregar" style="color: white; margin-left: 10%;"></ion-input>
        </div>
        <div class="pas_confirm">
            <p style="color: white; margin-left: 10%; font-size: 12px;">Confirmar nueva contraseña</p>
            <ion-input type={{type}} name="pasc" #pasc="ngModel" [(ngModel)]="password_dos" placeholder="Agregar" style="color: white; margin-left: 10%;"></ion-input>
        </div>
    </ion-col>
    <div class="text" style="padding-top: 6%;">
        <button class="boton_l" (click)="save_password()" ion-button icon-start type="submit" style="margin-left: 30%; height: 40px !important; border-radius: 8px !important">GUARDAR</button>
    </div>
</ion-content>

<div class="all" *ngIf="loader">
    <div class="carg">
      <p style="color: white;">{{texto}}</p>
      <div class="cargando"></div>
    </div>
  </div>

  <ion-header *ngIf="bandalerta" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-header *ngIf="bandalerta_pass" style="position: absolute;">
    <ion-toolbar class="new-background-color-alerta">
        <ion-title>
          <p style="text-align: center;">{{sms_pass}}</p>
        </ion-title>
      </ion-toolbar>
  </ion-header>