<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img (click)="home()" src="assets/Grupo 4@2x.png" alt="" style="width: 16%; height: 16%; margin-left: 35%;"/>  <!--[routerLink]="['/home']"-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="fondo_progtv">
  <iframe class="fram_prg_vivo" src="https://radioytvmexiquense.mx/index.php/television/programacion/" name="ebook-player" id="ebook-player"></iframe>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: white;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>