<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img (click)="home()" src="assets/Grupo 4@2x.png" alt="" style="width: 16%; height: 16%; margin-left: 35%;"/>  <!--[routerLink]="['/home']"-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo_noticias" *ngIf="noticias_all" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let n of noticias" style="display: flex;">    <!--align-self-center size-md="6" size-lg="4" size-xs="12"-->
        <ion-card>
          <ion-card-content (click)="Object(n)" class="fixline" style="display: flex;">
            <img src="{{n.picture}}" style="border-radius: 5px; width: 150px;"/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-content class="regist" *ngIf="page_noticia" style="background-color: black;">
  <iframe class="fram_noticias" [src]='ruta_noticia'></iframe>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: white;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>

<!--Alerta-->
<ion-header *ngIf="bandalerta" style="position: absolute;">
  <ion-toolbar class="new-background-color-alerta">
      <ion-title>
        <p style="text-align: center;">{{sms}}</p>
      </ion-title>
    </ion-toolbar>
</ion-header>