<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img (click)="home()" src="assets/Grupo 4@2x.png" alt="" style="width: 16%; height: 16%; margin-left: 35%;"/>  <!--[routerLink]="['/home']"-->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="regist" *ngIf="estaciones_radio" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col size-xs="6" *ngFor="let i of valor">    <!--align-self-center size-md="6" size-lg="5" size-xs="12"-->
        <ion-card>
          <ion-card-content (click)="Object(i)" class="fixline" style="display: flex;">
            <img src="{{i.picture}}" style="border-radius: 5px; width: 150px;"/>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content class="regist" *ngIf="estacion_radio" style="background-color: black;">
  <iframe class="fram_est_radio" [src]='ruta_radio'></iframe>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: white;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>
