ion-content{
    --ion-background-color:rgb(0, 0, 0);
}
.new-background-color{
    --background: #000000;
    --color: #ffffff;
  }

  page-radio{
    .fixline{
        height: 60px;
        margin-bottom: 7px;
    }
  }
  .regist{
    --background: url('/assets/Grupo_p402@2x.png') no-repeat 100% 100%;
  }
  .fram_est_radio{
    box-sizing: border-box;
    width: 111%; 
    height: 119%;
    margin-left: -6%;
    //padding-top: -5%;
    top: -12%;
    position:absolute;
    //z-index:0;
  }

  //Loader

  .all{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 18%;
    background:transparent;
    position: fixed;
  }
  @media only screen and (min-width: 1024px ) and (max-width: 1500px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 800px ) and (max-width: 1280px ) {
    .all{
      padding-top: 25%;     
    }
  } 
  @media only screen and (min-width: 768px ) and (max-width: 1024px ) {
    .all{
      padding-top: 29%;     
    }
  } 
  
  @media only screen and (min-width: 767px) and (max-width: 940px) {
    .all{
      padding-top: 40%;     
    }
  } 
  @media only screen and (min-width: 300px) and (max-width: 767px) {
    .all{
      padding-top: 78%;     
    }
  }
  @media only screen and (min-width: 200px) and (max-width: 259px) {
    .all{
      padding-top: 98%;     
    }
    .carg{
        width: 25%;
        margin: auto;
        text-align: center;
        font-size: 5px;
    }
  }
  .carg{
    width: 35%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }
  .cargando{
    border: 1.5px solid #CCC; 
    border-top: 2px;
    border-top-color: greenyellow;
    border-top-style: solid;
    height: 50px;
    width: 50px;
    position: relative;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 278px;
    animation:girar 1.0s linear infinite;
    -o-animation:girar 1.0s linear infinite;
    -webkit-animation:girar 1.0s linear infinite;
  }
  @keyframes girar{
  from{ transform: rotate(0deg); }
  to{ transform: rotate(360deg); }
  }