<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/Grupo 4@2x.png" alt="" (click)="home()" style="width: 16%; height: 16%; margin-left: 35%;"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: black;">
  <!--<div class="fondo_notificacion"       src="https://elpais.com/internacional/2019/04/24/actualidad/1556131008_879815.html">-->
    <iframe class="fram_notif" src="https://elpais.com/internacional/2019/04/24/actualidad/1556131008_879815.html"></iframe>     <!--[src]='ruta_notificacion'-->
    <!--<p style="margin-left: 15%; margin-top: 45%;">Local: {{valor_ruta}}</p>-->
    <!--<div>{{valor_ruta}}</div>-->

  <!--</div>-->
</ion-content>
