.new-background-color{
    --background: #000000;
    --color: #ffffff;
  }
  .fondo_notificacion{
    background: url('/assets/Grupo 407.png') no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100% ;
    text-align: center;
  }

  .fram_notif{
    box-sizing: border-box;
    width: 100%; 
    height: 100%;
    //margin-left: -6%;
    //padding-top: -5%;
    //top: -12%;
    position:absolute;
    //z-index:0;
  }