<!--<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start" class="fa fa-television" aria-hidden="true">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/Grupo 4@2x.png" alt="" [routerLink]="['/home']" style="width: 16%; height: 16%; margin-left: 35%;"/>
    </ion-title>
  </ion-toolbar>
</ion-header>-->

                      <!--class="regist"  "video-container"     class="fram_prg_vivo"-->
<!--<ion-content class="regist" style="background-color: black;">
    <iframe id="tamanio_video" src= "https://conceptoweb-studio.com/radio/video/mexiquense/" style="border:none;" allowfullscreen allow="autoplay; fullscreen"></iframe>
</ion-content>-->

<ion-content>
  <iframe class="conten" src="https://conceptoweb-studio.com/radio/video/mexiquense/" frameborder="0" marginwidth="0" marginheight="0"></iframe> <!--id="tamanio_video"-->
<div class="btn_reg">
  <img (click)="home()" src="/assets/return.svg" style="width: 25px; margin-left: 18px; margin-top: 10px;"/>    <!--[routerLink]="['/home']"-->
</div>
</ion-content>
