<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
        <ion-toolbar class="new-background-color">
          <ion-title style="margin-left: 80%;" (click)="exit()">X</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of Icns">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon" style="color: white;"></ion-icon>
              <ion-label style="color: white; font-size: 16px;">
                <p style="color: white; font-size: 18px;">Inicio</p>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item (click)="Tv_vivo()">
              <ion-icon slot="start" src="/assets/television.svg"></ion-icon>
              <ion-label>
                <p style="color: white; font-size: 18px;">Televisión en vivo</p>
              </ion-label>
            </ion-item>
            <ion-item (click)="Programacion_tv()">
              <ion-icon slot="start" src="/assets/Grupo 404.svg" style="color: white;"></ion-icon>
              <ion-label>
                <p style="color: white; font-size: 18px;">Programación TV</p>
              </ion-label>
            </ion-item>
            <ion-item (click)="Radio()">
              <ion-icon slot="start" src="/assets/radio.svg"></ion-icon>
              <ion-label>
                <p style="color: white; font-size: 18px;">Radio</p>
              </ion-label>
            </ion-item>
            <ion-item (click)="Noticias()">
              <ion-icon slot="start" src="/assets/global.svg"></ion-icon>
                <ion-label>
                  <p style="color: white; font-size: 18px;">Noticias</p>
                </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <div class="elemnt" style="padding-bottom: 20%;"></div>
        <p style="color: black; font-size: 0.1px; padding-bottom: 50%;">.</p>
          <div class="btn_conf">
            <button type="submit" (click)="update_perfil()" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: firebrick;">CONFIGURACIÓN</button>
          </div>
          <p style="color: black; font-size: 0.1px; padding-top: 2.5%;">.</p>
          <div class="btn_close_sesion">
            <button type="submit" (click)="close()" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: lightslategrey;">CERRAR SESIÓN</button>
          </div>
      </ion-content>

      <div class="all" *ngIf="loader">
        <div class="carg">
          <p style="color: white;">{{texto}}</p>
          <div class="cargando"></div>
        </div>
      </div>


    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>


</ion-app>
