<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title style="background-color: black;">
      <img src="/assets/Grupo 4@2x.png" style="width: 16%; height: 16%; margin-left: 35%;"/>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo_home" style="background-color: black;">
  <ion-card class="welcome-card">
  <!--<ion-slides  [options]="slideOpt" autoplay="true" loop="true">
    <ion-slide>
      <img src="{{img_uno}}" style="width: 450px; height: 231px;"/>
    </ion-slide>
    <ion-slide>
      <img src="{{img_dos}}" style="width: 450px; height: 231px;"/>
    </ion-slide>
    <ion-slide>
      <img src="{{img_tres}}" style="width: 450px; height: 231px;"/>
    </ion-slide>
  </ion-slides>-->
<div id="slider">
<figure>
  <img src="{{img_uno}}" alt/>
  <img src="{{img_dos}}" alt/>
  <img src="{{img_tres}}" alt/>
  <img src="{{img_uno}}" alt/>
  <img src="{{img_dos}}" alt/>
</figure>
</div>

</ion-card>
    <ion-list lines="none">
      <div class="item1" style="display: flex;">
        <ion-col col-6 no-padding>
          <ion-item>         
            <div class="Im1" (click)="Tv_vivo()" style="width: 100%; height: 100%; background-color: #6D057B; border-radius: 8px !important;"> <!--[routerLink]="['/tv-vivo']"-->
              <div text-center class="text">
                <img src="/assets/television.svg" style="width: 62%; margin-top: 3.5%;"/> <!--style="margin-left: 20%; width: 63%; text-align: center;"-->
              </div>
                <div text-center class="text">
                  <p style="color: white; font-weight: bold;">TV en vivo</p>
                </div>
            </div>
          </ion-item>
        </ion-col>
        
        <ion-col col-6 no-padding>
          <ion-item>
            <div class="Im2" (click)="Programacion_tv()" style="width: 100%; height: 100%; background-color: #3E8A06; border-radius: 8px !important">  <!--[routerLink]="['/programacion-tv']"-->
              <div class="im1">
                <div text-center class="text">
                  <img src="/assets/Grupo 404.svg" style="width: 62%; margin-top: 3.5%;"/> <!--margin-left: 20%; width: 60%; padding-top: 5%;-->
                </div>
                  <div text-center class="text">
                    <p style="color: white; font-weight: bold;">Programación TV</p>
                  </div>
              </div>
            </div>
          </ion-item>
        </ion-col>
      </div>
      <p style="color: black; padding: 0%;"></p>
      <div class="item2" style="display: flex; padding-top: 2%;">
        <ion-col col-6 no-padding>
          <ion-item>
            <div class="It3" (click)="Radio()" style="width: 100%; height: 100%; background-color: #CA8C11; border-radius: 8px !important;"> <!--[routerLink]="['/radio']"-->
              <div text-center class="text">
                <img src="/assets/radio.svg" style="width: 62%; margin-top: 3.5%;"/> <!--style="margin-left: 20%; width: 60%; padding-top: 5%;"-->
              </div>
              <div text-center class="text">
                <p style="color: white; font-weight: bold;">Radio</p>
              </div>
            </div>
          </ion-item>
        </ion-col>
        
        <ion-col col-6 no-padding>
          <ion-item>
            <div class="It4" (click)="Noticias()" style="width: 100%; height: 100%; background-color: #3793BB; border-radius: 8px !important;">  <!--[routerLink]="['/noticias']"-->
              <div text-center class="text">
                <img src="/assets/global.svg" style="width: 55.5%; margin-top: 3.5%;"/>  <!--margin-left: 20%; width: 56%; padding-top: 5%;"-->
              </div>
            <div text-center class="text">
              <p style="color: white; font-weight: bold;">Noticias</p>
            </div>
            </div>
          </ion-item>
        </ion-col>
      </div>
    </ion-list>
</ion-content>

<div class="all" *ngIf="loader">
  <div class="carg">
    <p style="color: white;">{{texto}}</p>
    <div class="cargando"></div>
  </div>
</div>

