<!--Pagina Inicio-->
<ion-content *ngIf="windhome" style="background: rgba(71,16,35,1);" (click)="window_home()">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div><div padding></div>
        <div padding></div><div padding></div><div padding></div>
        <div padding></div><div padding></div><div padding></div>
        <div text-center class="text">
          <img src="/assets/Grupo 4@2x.png" id="Img_inic" style="width: 37%; height: 20%;" alt=""/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Acceso Entrar/Registrar-->
<ion-content *ngIf="vent0" class="acceso_app" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div>
          <div text-center class="text">
            <img src="/assets/Grupo 4@2x.png" class="Img_portada" alt=""/> 
          </div>
        <p class="texto_bienvenida">DISFRUTA DE LOS MEJORES PROGRAMAS DE NUESTRO CANAL DE TELEVISIÓN</p>
        <div padding></div><div padding></div><div padding></div><div padding></div><div padding></div>
        <div text-center class="text">
          <ion-button size="default" class="btn_entrar" (click)="login()">ENTRAR</ion-button>
        </div>
        <div text-center class="text" style="padding-top: 1.5%;">
          <ion-button class="btn_registrar" (click)="register_inicio()">REGÍSTRATE</ion-button>
        </div>
        <div padding></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Register-->
<ion-content *ngIf="vent1" class="fondo_registro" style="background-color: black;">
<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding></div>   <!--<div padding></div>-->
      <div padding>
        <img src="/assets/Grupo 4@2x.png" class="Img_Registro" alt=""/> 
      </div>
    <div text-center class="text" (click)="register_facebook()">
      <ion-button id="regist_face"><img src="/assets/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Registrar con Facebook</p></ion-button>
    </div>
    <ion-label>
        <p style="padding: 1%;"></p>
    </ion-label>
    <div text-center class="text" (click)="register_google()">
      <ion-button id="regist_google"><img src="/assets/busqueda.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Registrar con Google</p></ion-button>
    </div>
      <div text-center style="margin-top: -5px;">
        <h4 style="color: white;">Registrar</h4>
      </div>
      <div padding>
        <ion-item>
            <ion-input class="inputs_registro" type={{type}} maxlength="100" name="nomb" #nomb="ngModel" [(ngModel)]="registerUser.name" placeholder="Nombre completo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="nomb" #nomb="ngModel" [(ngModel)]="registerUser.email" placeholder="Correo electrónico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input *ngIf="contras_user" class="inputs_registro" type={{typepass}} maxlength="8" name="nomb" #nomb="ngModel" [(ngModel)]="registerUser.password" placeholder="Contraseña"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input *ngIf="contras_user2" class="inputs_registro" type={{typepass}} maxlength="8" name="nomb" #nomb="ngModel" [(ngModel)]="passworddos" placeholder="Confirma contraseña"></ion-input>
          <!--<img (click)='showPass()' style="width: 4.3%; z-index: 1; color: white; " src="assets/ojo.svg">-->
        </ion-item>
        <ion-item>
          <ion-select value="brown" placeholder="Localización" ok-text="Aceptar" cancel-text="Cancelar" (ionChange)="Option($event)" class="log_selec" style="color: white; margin-left: 35%;">
            <ion-select-option value="Tultitlan">Tultitlan</ion-select-option>
            <ion-select-option value="Valle de Bravo">Valle de Bravo</ion-select-option>
            <ion-select-option value="Zumpango">Zumpango</ion-select-option>
            <ion-select-option value="Amecameca">Amecameca</ion-select-option>
            <ion-select-option value="Metepec">Metepec</ion-select-option>
            <ion-select-option value="Edomex">Edomex</ion-select-option>
            <ion-select-option value="CDMX">CDMX</ion-select-option>
            <ion-select-option value="Toluca">Toluca</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div text-center style="margin-top: -20px;">
        <div text-center style="display: inline-flex;">
          <p style="color: white;">Si ya tienes cuenta,</p><p style="color: sandybrown; margin-left: 3px;" (click)="login_registro()">entra aquí</p>
      </div>
      </div>
      <div text-center class="text">
        <button class="boton_l" (click)="access_user()" ion-button icon-start type="submit" style=" height: 40px !important; border-radius: 8px !important; font-size: 14px;">ENTRAR</button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<!--Entrar-->
<ion-content *ngIf="vent2" class="fondo_registro" style="background-color: black;">
<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div padding></div><div padding></div>
      <div padding>
        <img class="Img_Registro" src="/assets/Grupo 4@2x.png" alt=""/>
      </div>
      <div text-center class="text" class="bt_access_facebook">
        <ion-button id="bt_access_face"><img src="/assets/simbolo-de-la-aplicacion-de-facebook.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Entrar con Facebook</p></ion-button>
      </div>
      <ion-label>
          <p style="padding: 1%;"></p>
      </ion-label>
      <div text-center class="text">
        <ion-button (click)="acces_google()" id="bt_access_google"><img src="/assets/busqueda.svg" style="width: 17px; height: 17px; margin-left: 0.3%;"/><p style="margin-left: 9px;">Entrar con Google</p></ion-button>
      </div>
      <div text-center style="margin-top: -5px;">
        <h4 style="color: white;">Entrar</h4>
      </div>
      <div padding>
        <ion-item>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="nomusr" #nomusr="ngModel" [(ngModel)]="logeo.email" placeholder="Usuario"></ion-input>
      </ion-item>
      <ion-item>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="passusr" #passusr="ngModel" [(ngModel)]="logeo.password" placeholder="Contraseña"></ion-input>
      </ion-item>
      <ion-item style="padding-top: 2.6%;">
          <button class="boton_l" (click)="acceso_usuario()" ion-button icon-start type="submit" style="margin-left: 30%; height: 40px !important; border-radius: 8px !important; font-size: 14px;">ENTRAR</button>
      </ion-item>
      </div>
      <div text-center>
        <p style="color: sandybrown;" (click)="olvidaste_pass()">¿Olvidaste la contraseña?</p>  
    </div>
      <div text-center>
        <div text-center style="display: inline-flex; margin-bottom: 2.7%;">
          <p style="color: white;">Si áun no tienes cuenta,</p><p style="color: sandybrown; margin-left: 3px;" (click)="registro()">regístrate aquí</p>
      </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>

<!--Reestablecer contraseña-->
<ion-content *ngIf="vent3" class="fondo_rest_pass" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div><div padding></div>
        <ion-label>
          <p style="color: white; font-size: 23px; text-align: center; padding-top: 15%; margin-left: 2.3%;">PARA REESTABLECER TU CONTRASEÑA TE ENVIAREMOS UN CÒDIGO A TU CORREO ELECTRÒNICO</p>
      </ion-label>
      <div padding></div><div padding></div>
      <ion-item class="itemPass">
          <ion-img color="primary"></ion-img>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="restabpass" #restabpass="ngModel" [(ngModel)]="restpass.email" placeholder="Correo electrónico">
          </ion-input>
      </ion-item>
      <div text-center style="padding-top: 6%;">
        <button class="boton_l" (click)="restablecer_pass()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important">CONTINUAR</button>  
    </div>
      <div text-center style="padding-top: 3%; margin-bottom: 6%;">
        <button class="boton" (click)="cancel()" ion-button icon-start type="submit" style="width: 40%; background-color: lightslategrey; color: white; height: 40px !important; border-radius: 8px !important">CANCELAR</button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--Restablecer contraseña-->
<ion-content *ngIf="vent4" class="fondo_rest_pass" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div><div padding></div>
        <ion-label>
          <p style="color: white; font-size: 23px; text-align: center; padding-top: 15%; margin-left: 2.3%;">PARA REESTABLECER TU CONTRASEÑA TE ENVIAREMOS UN CÒDIGO A TU CORREO ELECTRÒNICO</p>
      </ion-label>
      <div padding></div><div padding></div>
      <ion-item class="itemPass">
          <ion-img color="primary"></ion-img>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="nombpsw" #nombpsw="ngModel" [(ngModel)]="pswd" placeholder="Usuario">
          </ion-input>
      </ion-item>
      <ion-item class="itemPass">
          <ion-img color="primary"></ion-img>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="tokengmail" #tokengmail="ngModel" [(ngModel)]="tokenmail" placeholder="Codigo de recuperaciòn">
          </ion-input>
      </ion-item>
      <div class="text" style="padding-top: 6%;">
          <button class="boton_l" (click)="pass()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important">CONTINUAR</button>
      </div>
      <div class="text" style="padding-top: 3%; margin-bottom: 6%;">
          <button class="boton" (click)="cancel_pass()" ion-button icon-start type="submit" style="width: 40%; background-color: lightslategrey; color: white; height: 40px !important; border-radius: 8px !important">CANCELAR</button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--Contraseña-->
<ion-content *ngIf="vent5" class="fondo_rest_pass" style="background-color: black;">
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
        <div padding></div><div padding></div><div padding></div>
        <ion-label>
          <p style="color: white; font-size: 23px; text-align: center; padding-top: 15%; margin-left: 3%;">CONTRASEÑA</p>
      </ion-label>
      <div padding></div><div padding></div>
      <ion-item class="itemPass">
          <ion-img color="primary"></ion-img>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="cont" #cont="ngModel" [(ngModel)]="passwordnew" placeholder="Contraseña nueva" style="color: white;">
          </ion-input>
      </ion-item>
      <ion-item class="itemPass">
          <ion-img color="primary"></ion-img>
          <ion-input class="inputs_registro" type={{type}} maxlength="100" name="contnew" #contnew="ngModel" [(ngModel)]="confirmpassword" placeholder="Confirmar contraseña" style="color: white;">
          </ion-input>
      </ion-item>
      <div class="text" style="padding-top: 6%;">
          <button class="boton_l" (click)="succes()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important">CONTINUAR</button>
      </div>
      <div class="text" style="padding-top: 3%; margin-bottom: 6%;">
          <button class="boton" (click)="cancel_contras()" ion-button icon-start type="submit" style="width: 40%; background-color: lightslategrey; color: white; height: 40px !important; border-radius: 8px !important">CANCELAR</button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


  <!--Successful register-->
  <ion-content *ngIf="vent6" class="fondo_rest_pass" style="background-color: black;">
    <div padding></div><div padding></div>
    <div padding></div><div padding></div>
    <div padding></div><div padding></div>
      <div text-center>
        <ion-icon name="checkmark-circle-outline" style="color: greenyellow; font-size: 50px;"></ion-icon>
    </div>
      <ion-col>
          <ion-label>
              <p style="color: white; font-size: 23px; text-align: center; padding-top: 5%; margin-left: 3%;">Tu nueva contraseña se ha guardado correctamente</p>
          </ion-label>
      </ion-col>
      <div class="text" style="padding-top: 6%; margin-bottom: 6%;">
          <button class="boton_l" (click)="change_success()" ion-button icon-start type="submit" style="height: 40px !important; border-radius: 8px !important; font-size: 14px;">IR A INICIO</button>
      </div>
  </ion-content>


      <div class="all" *ngIf="loader">
          <div class="carg">
            <p style="color: white;">{{texto}}</p>
            <div class="cargando"></div>
          </div>
        </div>
        <ion-header *ngIf="bandalerta" style="position: absolute;">
          <ion-toolbar class="new-background-color-alerta">
              <ion-title>
                <p style="text-align: center;">{{sms}}</p>
              </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-header *ngIf="bandalerta_us" style="position: absolute;">
          <ion-toolbar class="new-background-color-alerta">
              <ion-title>
                <p style="text-align: center;">{{sms_usr}}</p>
              </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-header *ngIf="bandalerta_us_ex" style="position: absolute;">
          <ion-toolbar class="new-background-color-alerta">
              <ion-title>
                <p style="text-align: center;">{{sms_usr_ex}}</p>
              </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-header *ngIf="bandalerta_pas" style="position: absolute;">
          <ion-toolbar class="new-background-color-alerta">
              <ion-title>
                <p style="text-align: center;">{{sms_pas}}</p>
              </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-header *ngIf="band_pass_iguales" style="position: absolute;">
          <ion-toolbar class="new-background-color-alerta">
              <ion-title>
                <p style="text-align: center;">{{sms_pass_ig}}</p>
              </ion-title>
            </ion-toolbar>
        </ion-header>